/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html{

}

body{
 background-color: white;
}

a{
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 24px;
  margin: 0 10px;
  padding: 8px 24px;
  background-color: #C7DCDF;
  align-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: center;
  display: flex;
}

a{
  color: #5194A2;
  align-content: flex-start;
  text-align: center;
  align-items: center;
  align-self: center;
  align-items: flex-start;
  display: inline;
}

h4{
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 24px;
  margin: 0 10px;
  padding: 8px 450px;
  background-color: none;
  align-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: center;
  display: flex;
}


.Logo .Img-logo{
  border: none;
  border-radius: 36px;
  margin: 0 0px;
  padding: 0px 0px;
  background-color: white;
  align-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: center;
  align-items: flex-end;
  height: 130px;
}

.carrito{
  border: none;
  border-radius: 36px;
  margin: 0 10px;
  padding: 8px 15px;
  background-color: #C7DCDF;
  align-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  align-items: center;
  height: 25px;
}

header{
  display: inline-flex;
  align-items: center;
  align-self: center;
  position: absolute;
  background-color: #5194A2;
  height: 60px;
  width: 99%;
  padding: 0px 0px;
  grid-column: 1 / span 2;
}

article{
  display: block;
  background-color: white;
  color: #5194A2;
  padding: 60px 30px;
  height: 300px;
  width: 600px;
  border-radius: 30%;
  text-align: justify;
}

.main{
  display: block;
  background-color: #C7DCDF;
  height: 600px;
  width: 1000px;
  border-radius: 80%;
  float: left;
}

.info{
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  padding: 0px 80px;
  text-align: left;
}

aside{
  height: 100px;
  width: 400px;
  float: right;
}

.perfil{
  position: relative;
  display: block;
  flex-direction: row;
  width: 100px;
  background: #5194A2;
  height: 400px;
  border-radius: 24px;
  padding: 90px 0px 50px 50px;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: right;
}

.perfil::before{
  content: normal;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 24px 24px 0 0;
  background-color: #E3AFA4;
}

.imagen{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #D7A83B;
  padding: 10px;
  margin-bottom: -10px;
}

.imagen .profile-img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #white;
}

.nombre{
  text-align: left;
  align-items: center;
  align-self: center;
  align-content: center;
}

footer{
  background-color: none;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 99%;
  display: block;
  align-items: center;
  align-self: center;
  height: 80px;
}

.infoooo{
  text-align: left;
  position: relative;
  float: left;
}

.imagen5{
  border-radius: 50%;
  position: relative;
  height: 50px;
  width: 50px;
  padding: 3px;
  margin-bottom: 5px;
  float: right;
  display: block;
}

.imagen5 .contac-img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid white;
  float: right;
  display: block;
}

a.redes{
  border-radius: 50%;
  position: relative;
  height: 10px;
  width: 30px;
  padding: 0px 0 0 6px;
  margin-bottom: 5px;
  float: right;
  display: block;
  background: white;
}
